:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  background-color: #1f1e1e;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  justify-content: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin-block-start: 0;
  margin-block-end: 0.30em;
}

h2 {
  margin-top: 0;
}

button {
  border-radius: 8px;
  border: 1px solid rgb(79, 58, 58);
  padding: 0.6em 1.2em;
  font-size: 0.8em;
  font-weight: 300;
  font-family: inherit;
  background-color: #8c3c3c;
  cursor: pointer;
  transition: border-color 0.25s;
  margin-bottom: 10px;
  width: 90%;
  padding: 8px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

input {
  background-color: #3c3c3c;
  color: azure;
  margin-bottom: 10px;
  width: 90%;
  padding: 8px;
  border-radius: 10px;
  border: 1px solid #ccc;
}